* {
	font-family: Arial, Helvetica, sans-serif;
}
span.tab {
		padding: 0.7em;
}
body {
	font-size: 3em;
	width: device-width;
	height: device-height;
	margin-left: 5%;
	margin-right: 5%;
	color: #474747;
}
a {
	color: #4488ee;
	text-decoration: none;
}
a:hover {
	color: #3a75cc;
}
select {
	background-color: #ffffff;
	color: #454545;
	border: 1px solid;
	border-color: #929292;
	border-radius: 1px;
}
.report {
	font-size: 0.8em;
	color: #4c4c4c;
}
.footer {
	font-size: 0.8em;
	text-align: center;
	color: #999999;
}
.btn_fat {
	font-size: 1.2em;
	height: 2em;
	width: 100%;
	background-color: #4488ee;
	color: #f2f2f2;
	border: 0px solid;
	border-radius: 3px;
}
.btn_fat:hover {
	background-color: #4475ee;
}
.btn {
	width: 75px;
	height: 29px;
	background-color: #ffffff;
	color: #525252;
	border: 1px solid;
	border-color: #929292;
	border-radius: 3px;
}
#donate {
	font-size: 1em;
	background-color: #ffffff;
	color: #4488ee;
	border: 0px solid;
	border-radius: 3px;
}
#donate:hover {
	color: #3a75cc;
	cursor:pointer;
}